* {
    box-sizing: border-box;
    margin: 0;
}
#app{

}

.app_panel{
    background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    height: 1194px;
    width: 834px;
    margin: auto;
}
.vote_panel{
    margin: 0 120px;
    display: flex;
    flex-direction: column;
    width: 70%;
    vertical-align: center;
}
@font-face {
    font-family: myfont;
    src: url(NatureBeautyPersonalUse-9Y2DK.ttf);
}
.title {
    color: #901;
    text-align: center;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-family: myfont, serif;
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 200px;

}
.stars {
    border: 1px solid black;
}

@media (min-width: 1000px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .stars {
        flex-flow: nowrap;
    }
}
.vote_item_enabled,
.vote_item_disabled {
    height: 101px;
    width: 107px;
    display: inline-block;
    background-image: url("../assets/star.png");
}

.vote_item_disabled {
    background-image: url("../assets/star-grey.png");
}

.confirm_btn,
.btn_clicked,
.confirm_btn_disabled{
    width: 298px;
    height: 368px;
    background-image: url("../assets/confirm.png");
    vertical-align: center;
    justify-content: center;
    margin-left: 150px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

.btn_clicked {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}
.confirm_btn_disabled {
    filter: opacity(40%);
}
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}



